{% extends "layout.html" %}

{% block head %} 
<title>About Us</title>
{% endblock %}


{% block body %} 
<div class="section-one">
  <div class="markup">
    <h2>About Us</h2>
    <p>AdvertX is all about showcasing your business and products to your prospective buyers,
        and we do this at a veryo low price. We work hand in hand with clients to ensure we bring maximum satisfaction.
    </p>
  </div>
  <div class="image1">
    <img src="../static/image/onlinead.jpeg" alt="">
  </div>
</div>

<!---------------- quote ------>
<div class="qoute">
    <div class="writeup">
         <h3>Bringing Businesses to your fingertips, through 24/7 advertisement and easy reach on our platform.</h3>
         <a class="qoute_button" href="/services">Services</a>
    </div>
    <div class="qoute_image">
        <img src="../static/image/down.jpeg" alt="">
    </div>
</div>

<div class="before_footer">
    <div class="head">
        <h3>Get started with AdvertX today!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, corrupti.</p>
        <a class="before_footer_button" href="/signup">Sign up now</a>
    </div>
    <div class="before_footer_image">
        <img src="../static/image/accesories.jpeg" alt="">
    </div>
</div>


{% endblock %}
