{% extends "layout.html" %}

{% block head %} 
<title>Home</title>
{% endblock %}



{% block body %}
<div class="home-section-one">
    <div class="home-section-one-message">
        <p>1 week free trial</p>
        <h1>Advert<span class="bro">X</span></h1>
        <h2> Online advertisement platform</h2>
        <div class="home-section-one-message-buttons">
            <a class="home-section-one-message-buttons-first" href="/about">About Us</a>
        </div>
    </div>
    <div class="home-section-one-images">
        <img src="../static/image/fill.jpg" alt="All photo">
    </div>
    
</div>


<div class="before_testimonial">
    <div class="writing">
         <p>We connect potential customers to <br> wide varieties of products and <br> also business owners to a wide range of buyers</p>
    </div>
    <div class="before_testimonial_img">
        <img src="../static/image/GIF4.gif" alt="">
    </div>
</div>

<div class="testimonial">
    <div class="testimonial-header">
        <h1>Testimonial</h1>
        <p id="jo">People love what we do and we what to let you know</p>
        <div class="testimonial-examples">
            <div class="first-testimonial">
                <p>"This website is so cool <br> and create so much value <br> no freaking regrates "</p>
                <img src="../static/image/stars.png" alt="rating">
                <h4>Sendi Damun</h4>
            </div>
            <div class="second-testimonial">
                <p>"bro!!! check this site out <br> made alot of doe after <br> after the advert"</p>
                <img src="../static/image/stars.png" alt="rating">
                <h4>Minstrel Nwachukwu</h4>
            </div>
            <div class="third-testimonial">
                <p>"Woah!!!!! more of this <br> carry the hell on!"</p>
                <img src="../static/image/stars.png" alt="rating">
                <h4>Hope Habu</h4>
            </div>
        </div>
    </div>
</div>


















{% endblock %} 