{% extends "layout.html" %}

{% block head %} 
<title>Services</title>
{% endblock %}



{% block body %}
<body id="body">
<div class="header1">
    <div class="ad">
        <div class="section_one">
            <img class="img" src="../static/image/top1.jpeg" alt="">
            <h5>We provide world wide</h5>
            <h2>Advertisement <span>Services</span></h2>
            <h4>For start-up and large business</h4>
            <a href="/contact">Get in touch</a>
        </div>
        <div class="section_one_images">
            <img src="../static/image/new2.jpg" alt="">
        </div>
    </div>

    <div class="reach" >
        <div class="countries">
            <h2>55%</h2>
            <p>countries reached</p>
        </div>
        <div class="people_reached">
            <h2>2150+</h2>
            <p>people reached</p>
        </div>
        <div class="discount">
            <h2>10%</h2>
            <p>Discount available</p>
        </div>
        <div class="all_round">
            <h2>24/7</h2>
            <p>advertisement</p>
        </div>
    </div>
</div>
</body>

{% endblock %} 